<div class="background-image">

</div>
<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="loginCard">
        <div class="card">
            <h5 style="text-align: center; background-color: rgba(118, 184, 239, 0.678)" class="card-header">Sign In</h5>
            <div class="card-body">
              <form [formGroup]="loginForm" #formDir="ngForm" (submit)="UserLogin(loginForm.value, loginForm.valid)">
                <div class="row">
                  <div class="col-lg-12 loginInput">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                        <input type="text" [ngClass]="{'has-error': loginForm.controls['UserName'].errors?.required && (loginForm.controls['UserName'].touched || formDir.submitted)}" formControlName="UserName" class="form-control" placeholder="Enter your Username">
                      </div>
                      <div class="error-text" *ngIf="loginForm.controls['UserName'].errors?.required && (loginForm.controls['UserName'].touched || formDir.submitted )"><strong>Username</strong> is required</div>
                  </div>
                  <div class="col-lg-12 loginInput">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                        <input type="password" [ngClass]="{'has-error': loginForm.controls['Password'].errors?.required && (loginForm.controls['Password'].touched || formDir.submitted)}" formControlName="Password" class="form-control" placeholder="Enter your Password">
                      </div>
                      <div class="error-text" *ngIf="loginForm.controls['Password'].errors?.required && (loginForm.controls['Password'].touched || formDir.submitted )"><strong>Password</strong> is required</div>
                  </div>
                </div>
                <button type="submit" color="primary" [disabled]="isLogin" mat-raised-button ><i class="fa fa-sign-in" aria-hidden="true"></i> {{loginButton}}</button>
              </form>
            </div>
          </div>
    </div>
  </div>
</div>
